
// Default colors
$fontColor: #333333;
$disabledFontColor: #F4F4F4;
$labelFontColor: #CCCCCC;
$innerShadowColor: #B5B5B5;

// Main colors
$primaryColor: #7B61FF;
$successColor: #5EE48C;
$errorColor: #FF6161;
$disabledColor: #B5B5B5;

//Hover colors
$defaultColorHover: #E1E1E1;
$primaryColorHover: #8A73FF;
$successColorHover: #80F0A6;
$errorColorHover: #FF8080;

//Active colors
$defaultColorActive: #CFCFCF;
$primaryColorActive: #715BE3;
$successColorActive: #4BD379;
$errorColorActive: #D65D5D;
